$color: #A91717;
%text-d{text-decoration:none;}
@media(min-width: 500px){
header{
    background-color:$color;
    text-align:center;
    width:100%;
    padding:5px;
    margin:4px;
}}

@media(max-width: 499px){
header{
    background-color:$color;
    text-align:left;
    width:100%;
    padding:2px;
    margin:2px;
}

#mytopbar{
    margin:auto;
    height:40px;
    width:200px;

}


}

#mytopbar{
    margin:auto;
    height:40px;
    width:500px;

}

#mytopbar{

a{
@extend %text-d;
    margin:3px;
    text-align:center;
    color:white;
    border-right:1px solid #BB4545;
    padding-right:10px;
    font-size:16px;
}
}

#mytopbar a:hover{
    font-size:22px;
}

.study{
@extend %text-d;
    color:red;
}

.info{
    float:left;
    width:50%;
}

div img
{
    float:right;
    width:50%;
}

.projects{
    margin-left:4px;
    padding:15px;

}